/* #region Служебные данные*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --header-bc: #7C3AED;
    --footer-bc: #3B0764;
    --main-bc: #111827;
    --block1-bc: #1F2937;
    --block2-bc: #312E81;
    
    --collor-text-main: #F9FAFB;
    --collor-title:#C4B5FD;
    --collor-title-url:#FFFFFF;
    --collor-url-onStay:#DDD6FE ;
    --collor-description-text: #D1D5DB;
    --collor-button: #8B5CF6;
    --collor-button-text:#FFFFFF;
    
    --text-size-title:36px;
    --txt-size-sextion-title:28px;
    --text-size-info:20px;
    --text-size-main:18px;
    --text-size-description:16px;
    --text-size-header:16px;
    --text-size-bth:16px;
    --text-size-button:16px;
    
}

@media (max-widht:900) {
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media (max-widht:600) {
    .card-grid{
        grid-template-columns: repeat(1, 1fr);
    }    
}
/* #endregion */

/* #region Main */
main{
    background-color: var(--main-bc);
    color: var(--collor-text-main);
}
/* #region  Титульный лист*/


.welcome{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.foto{
    width: 45%;
}
.foto img{
    width: 100%;
    display: block;
}
.flex{
    width: 48%;
}
.flex.a{
    color: var(--collor-text-main);
}

.title{
    color: var(--collor-title);
    font-size: var(--text-size-title);
}

.discription{
    color: var(--collor-description-text);
    font-size: var(--text-size-description);
    background-color: var(--block1-bc);
}
/* #endregion */
/* #region Карточки */
    /* #region Карточки Ур2*/

        /* #region Стандартные настройки карточек */
            .cards-grid{
                width: 100%;
                padding: 15px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
            }
            .card-grid{
                width: 100%;
                padding: 15px;
                border: 1px solid var(--block2-bc);
            }
            .card-grid img{
                height: 70%;
                width: 100%;
            }
            .card-title{
                margin-top: 5%;
                color: var(--collor-title);
                font-size: var(--text-size-title);
            }
            .card-discription{
                margin-top: 3px;
                color: var(--collor-description-text);
                font-size: var(--text-size-description);
            }
            .button-cards{
                width: 100%;
                height: 10%;
                background-color: var(--collor-button);
                border-radius: 50px;
                display: flex;
                align-items: center;
                
                transition: 1s ease;
            }
            .button-cards a{
                color: var(--collor-button-text);
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;

                margin-top: auto;

            }
            /* #endregion */
    
        /* #region Кастомная карточка Красного лекса */
            .LexProfileRed_button{
            text-shadow: 0 0 10px #FFFFFF;
            transition: 1s ease;
            box-shadow: 0px 0px 25px var(--header-bc);
        }
        .LexProfileRed_button:hover{
        background-color: #000000;
            box-shadow: 0 0 25px #000000;
        }
        .LexProfileRed_button a:hover{
            color: #FF0000;
            text-shadow: 0 0 10px #FF0000;
        }
        .LexProfileRed_button:active{
            box-shadow: 100px 25px 0 inset #ff00ff;
        }
        /* #endregion */
        
        /* #region карточка с артом марго */
        .margo_art_button{
        box-shadow: 0 10px 0 var(--block2-bc);
        border: 5px solid var(--header-bc);
        text-shadow: 0 2px var(--block1-bc);
        transition: 1s ease;
        }
        .margo_art_button:hover{
            transform: translateY(-6px);
            box-shadow: 0 16px 0 var(--block2-bc);
        }
        .margo_art_button:active{
            transition: 0.1s ease;
            transform: translateY(16px);
            box-shadow: 0 0 3px var(--block2-bc);
        }
        /* #endregion */

        /* #region Вассаби кот */
        .eat_vassabi_art{
            transition: 1s ease;
        }
        .eat_vassabi_art:hover{
            border: 10px inset #da4531;
        }
        .eat_vassabi_art:active{
            border: 30px inset #da4531;
            background-color: var(--collor-button-text);
        }
        .eat_vassabi_art a:active{
            color: #00000000;
        }
        /* #endregion */

        
    /* #endregion */
    /* #region LvL1 */
.section-card{
    display: flex;
    justify-content: space-between;
    height: 1000px;
    width: 100%;
}
.card{
    height: 80%e;
    width: 30%;
    background-color: var(--block2-bc);
    border: 5px solid var(--block1-bc);
}
.card-img{
    box-shadow: 0px 3px 4px black;
    height: 50%;
    width: 100%;
    
}
.card-img img{
  height: 100%;
  width: 100%;
  display: block;
}
.title-cards{
    font-size: var(--text-size-title);
    color: var(--collor-title);
}
.card-text{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    padding: 1%;
}
/* #endregion */
/* #endregion */
/* #endregion */

/* #region Header */
header{
    display: flex;
    justify-content: space-around;
    background-color: var(--header-bc);
    padding: 10px;
    
}
header.a{
    color: var(--collor-text-main);
    text-decoration: none;
    
}
/* #endregion */

/* #region Footer*/
footer{
     display: flex;
    justify-content: space-around;
    background-color: var(--footer-bc);
    padding: 100px;
}
/* #endregion */