*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    --header-bc: #7C3AED;
    --footer-bc: #3B0764;
    --main-bc: #111827;
    --block1-bc: #1F2937;
    --block2-bc: #312E81;
    
    --collor-text-main: #F9FAFB;
    --collor-title:#C4B5FD;
    --collor-title-url:#FFFFFF;
    --collor-url-onStay:#DDD6FE ;
    --collor-description-text: #D1D5DB;
    --collor-button: #8B5CF6;
    --collor-button-text:#FFFFFF;
    
    --text-size-title:36px;
    --txt-size-sextion-title:28px;
    --text-size-info:20px;
    --text-size-main:18px;
    --text-size-description:16px;
    --text-size-header:16px;
    --text-size-bth:16px;
    --text-size-button:16px;
    
}


.welcome{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.foto{
    width: 45%;
}
.foto img{
    width: 100%;
    display: block;
}

.section-card{
    display: flex;
    justify-content: space-between;
    height: 1000px;
    width: 100%;
}
.card{
    height: 1000px;
    width: 30%;
    background-color: var(--block2-bc);
    border: 5px solid var(--block1-bc);
}
.card-img{
    box-shadow: 0px 3px 4px black;
    height: 50%;
    width: 100%;
    
}
.card-img img{
  height: 100%;
  width: 100%;
  display: block;
}
.card-text{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    padding: 1%;
}
.card-title{
    margin-top: 5%;
    color: var(--collor-title);
    font-size: var(--text-size-title);
}
.card-discription{
    margin-top: 3px;
    color: var(--collor-description-text);
    font-size: var(--text-size-description);
}


.flex{
    width: 48%;
}
.flex.a{
    color: var(--collor-text-main);
}

.title{
    color: var(--collor-title);
    font-size: var(--text-size-title);
}

.discription{
    color: var(--collor-description-text);
    font-size: var(--text-size-description);
    background-color: var(--block1-bc);
}



header{
    display: flex;
    justify-content: space-around;
    background-color: var(--header-bc);
    padding: 10px;
    
}
header.a{
    color: var(--collor-text-main);
}

main{
    background-color: var(--main-bc);
    color: var(--collor-text-main);
}

footer{
     display: flex;
    justify-content: space-around;
    background-color: var(--footer-bc);
    padding: 100px;
}